# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
cloud-fitter

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.txt

# Dependency directories (remove the comment below to include it)
vendor/

# buf for protobuf
buf.lock

# idea project
.idea/
.vscode/

# remove go sum
go.sum

# config file
config.yaml

log/